<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <ion-card class="exercise-card" mode="ios" *ngIf="exercise">
      <div class="img-wrapper filter red-turquoise">
        <img class="cover" [src]="exercise.imageUrl">
      </div>
      <ion-card-header>
        <ion-card-subtitle>
          {{ exercise.type }}
        </ion-card-subtitle>
        <ion-card-title>
          {{ exercise.name }}
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <div class="set-list">
      <div *ngFor="let set of sets; index as i;">
        <div class="set-item">
          <ion-card mode="ios" class="set-card">
            <div class="set" lines="none">
              <div class="block">
                <ion-input [(ngModel)]="set.weight" (ionBlur)="onWeightBlur($event)" class="ion-no-padding" type="text"
                  inputmode="numeric" placeholder="--" select-all></ion-input>
                <span class="label">kg</span>
              </div>
              <div class="block">
                <ion-input [(ngModel)]="set.rep" class="ion-no-padding" type="text"
                  inputmode="numeric" placeholder="--" select-all></ion-input>
                <span class="label">reps</span>
              </div>
            </div>
          </ion-card>
          <div class="action-button" (click)="onDeleteClick(i)">
            <ion-chip class="icon-button" color="primary">
              <ion-icon name="trash"></ion-icon>
            </ion-chip>
          </div>
        </div>
      </div>
      <div class="set-item button-only">
        <div class="action-button" (click)="onAddClick()">
          <ion-chip class="icon-button" color="primary">
            <ion-icon name="add"></ion-icon>
          </ion-chip>
        </div>
      </div>
    </div>
  </app-page-layout>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="onSaveClick()">
    Save
  </ion-button>
</ion-footer>