<ion-header>
  <ion-toolbar>
    <ion-title>Training History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <div *ngIf="!isLoading && !(trainingRecordList && trainingRecordList.length > 0)" class="ion-text-center">
      <h3>Last trainings</h3>
      <p>There are no training history to show.</p>
      <ion-button routerLink="/home/explore/">Explore</ion-button>
    </div>
    <ion-virtual-scroll [items]="trainingRecordList" [trackBy]="recordIdentifier" approxItemHeight="224px">
      <ion-card *virtualItem="let trainingRecord" class="training-history-card" mode="ios">
        <div class="history-img-wrapper">
          <img [src]="trainingRecord.workout.imageUrl">
        </div>
        <div class="bottom-left">
          <span class="title">
            {{ trainingRecord.workout.name }}
          </span>
          <span class="text">
            {{ trainingRecord.duration }}
          </span>
          <span class="text">
            {{ trainingRecord.date }}
          </span>
        </div>

        <div class="top-right">
          <ion-button class="delete-button" fill="clear" color="danger" (click)="deleteTrainingRecord(trainingRecord)">
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </ion-virtual-scroll>
  </app-page-layout>
</ion-content>