.training-list {
    padding-bottom: 1rem;
}

.training-history-card {
    color: white;
    margin: 12px;
    overflow: hidden;
    border-radius: 4px;

    .img-wrapper {
        height: 240px;
        overflow: hidden;
    }

    .bottom-left {
        position: absolute;
        bottom: 16px;
        left: 16px;

        display: flex;
        flex-direction: column;
    }

    .top-right {
        position: absolute;
        top: 4px;
        right: 4px;

        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 2rem;
    }

    .text {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .delete-button {
        ion-icon {
            width: 16px;
            height: 16px;
        }
    }
}