<ion-header>
  <ion-toolbar>
    <ion-title>Training History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <div *ngIf="isLoading" class="ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <div *ngIf="!isLoading && !(trainingRecordList && trainingRecordList.length > 0)" class="ion-text-center">
      <p>There are no training history to show.</p>
      <ion-button routerLink="/home/my-library/" fill="clear">Do your first training now!</ion-button>
    </div>
    <div class="training-list" *ngIf="!isLoading && trainingRecordList && trainingRecordList.length > 0">
      <ion-virtual-scroll [items]="trainingRecordList" approxItemHeight="200px">
        <ion-card *virtualItem="let trainingRecord" class="training-history-card" mode="ios">
          <div class="history-img-wrapper">
            <img [src]="trainingRecord.workout.imageUrl">
          </div>
          <div class="bottom-left">
            <span class="title">
              {{ trainingRecord.workout.name }}
            </span>
            <span class="text">
              {{ trainingRecord.duration }}
            </span>
            <span class="text">
              {{ trainingRecord.date }}
            </span>
          </div>
        </ion-card>
      </ion-virtual-scroll>
    </div>
  </app-page-layout>
</ion-content>