.training-list {
    padding-bottom: 1rem;
}

.training-history-card {
    color: white;

    .history-img-wrapper {
        background-color: #564058;
        background-image: linear-gradient(315deg, #564058 0%, #081f30 74%);
        height: 200px;

        img {
            mix-blend-mode: soft-light;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .bottom-left {
        position: absolute;
        bottom: 16px;
        left: 16px;

        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 2rem;
    }

    .text {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}