<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Training History</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [disabled]="true"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <div *ngIf="isLoading" class="ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <div *ngIf="!isLoading && !(trainingRecordList && trainingRecordList.length > 0)" class="ion-text-center">
      <p>There are no training history to show.</p>
      <ion-button routerLink="/home/my-library/" fill="clear">Do your first training now!</ion-button>
    </div>
    <div class="training-list" *ngIf="!isLoading && trainingRecordList && trainingRecordList.length > 0">
      <div class="training-list-header">
        <h3>Date</h3>
        <h3>Total Time</h3>
      </div>
      <ion-list class="training-list-content ion-no-padding">
        <ion-item-sliding *ngFor="let trainingRecord of trainingRecordList" class="ion-no-padding">
          <ion-item [routerLink]="['/','home','profile','detail', trainingRecord.id]" button detail
            class="ion-no-padding">
            <div class="item-content">
              <p>{{trainingRecord.date | date }}</p>
              <p>{{trainingRecord.totalTime}}</p>
            </div>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteTrainingRecord(trainingRecord)">
              <ion-icon name="trash" slot="icon-only" size="small"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </app-page-layout>
</ion-content>