.detail-skeleton {
    .img-wrapper {
      height: 300px;
    }
  
    h1, h2, h3 {
      margin: 16px 0;
      width: 100%;
  
      ion-skeleton-text {
        height: 100%;
      }
    }

    h1 {
      height: 16px;
      ion-skeleton-text {
        width: 80%;
      }
    }

    h2 {
      height: 12px;
      ion-skeleton-text {
        width: 70%;
      }
    }

    h3 {
      height: 10px;
      ion-skeleton-text {
        width: 60%;
      }
    }
  }
  