<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Workout Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onEditClick()" *ngIf="created">
        <ion-icon [name]="'create-outline'"></ion-icon>
      </ion-button>
      <ion-button (click)="onFavoriteClick()" color="danger">
        <ion-icon [name]="favorited ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <div class="workout-detail" *ngIf="workout">
      <div class="img-wrapper filter red-turquoise">
        <img class="cover" [src]="workout.imageUrl" [alt]="workout.name">
      </div>
      <h1 class="ion-padding-horizontal" style="font-weight: bold;">{{ workout.name }}</h1>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="time-outline" slot="start"></ion-icon>{{ workout.duration }}
        </ion-item>
        <ion-item>
          <ion-icon name="trophy-outline" slot="start"></ion-icon>{{ workout.category }}
        </ion-item>
        <ion-item>
          <ion-icon name="barbell-outline" slot="start"></ion-icon>{{ workout.equipments }}
        </ion-item>
      </ion-list>
      <h2 class="ion-padding-horizontal" style="font-weight: bold;">Overview</h2>
      <ion-list *ngIf="workout.exercises && workout.exercises.length > 0">
        <app-exercise-list-item *ngFor="let exercise of workout.exercises" [exercise]="exercise" [editable]="favorited" (onEditClick)="onEditExerciseClick($event)">
        </app-exercise-list-item>
      </ion-list>
    </div>
  </app-page-layout>
</ion-content>

<ion-footer style="height: 56px;">
  <ion-toolbar>
    <app-clickable>
      <ion-button class="start-button no-ripple" expand="block" (click)="startWorkout()">
        <span>Start</span>
      </ion-button>
    </app-clickable>
  </ion-toolbar>
</ion-footer>