.workout-detail {
  padding-bottom: 1rem;

  .img-wrapper {
    height: 300px;
  }

  .exercise {
    &-details {
      display: flex;

      p {
        flex: 1;
        color: var(--ion-color-step-600, #666666);
      }
    }
  }
}

.start-button {
  text-transform: uppercase;
  span {
    color: white;
  }
}
