<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Workout Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onEditClick()">
        <ion-icon [name]="'create-outline'"></ion-icon>
      </ion-button>
      <ion-button (click)="onFavoriteClick()" color="danger">
        <ion-icon [name]="favorited ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <div>
      <div class="workout-detail" *ngIf="workout">
        <div class="details filter dark">
          <img class="cover" [src]="workout.imageUrl" [alt]="workout.name">
          <div class="bottom-left">
            <h1 class="details-header">{{ workout.name }}</h1>
            <p class="details-item">
              <ion-icon name="time-outline"></ion-icon>{{ workout.duration }}
            </p>
            <p class="details-item">
              <ion-icon name="trophy-outline"></ion-icon>{{ workout.category }}
            </p>
            <p class="details-item">
              <ion-icon name="barbell-outline"></ion-icon>{{ workout.equipments }}
            </p>
          </div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <h2 class="ion-padding-horizontal" style="font-weight: bold;">Exercises</h2>
          <div class="control-buttons">
            <ion-chip color="primary" *ngIf="customized">
              <ion-icon name="sparkles-outline"></ion-icon>
              <ion-label>Customized</ion-label>
            </ion-chip>
          </div>
        </div>
        <ion-list *ngIf="workout.exercises && workout.exercises.length > 0">
          <app-exercise-list-item *ngFor="let exercise of workout.exercises" [exercise]="exercise">
          </app-exercise-list-item>
        </ion-list>
      </div>
      <div class="workout-detail" *ngIf="!workout">
        <div class="details">
          <ion-thumbnail slot="start" class="cover">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
        </div>
        <h2 style="height: 16px; margin: 16px 16px 0;">
          <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
        </h2>
        <app-exercise-list-skeleton></app-exercise-list-skeleton>
      </div>
    </div>
  </app-page-layout>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="footer-button no-ripple" expand="block" (click)="startWorkout()">
      <ion-text>Start Training</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>