.workout-detail {
  padding-bottom: 1rem;

  .img-wrapper {
    height: 300px;
  }

  .header {
    display: flex;
    justify-content: space-between;

    h1, h2 {
      font-weight: bold;

      margin: 16px 0;
    }
  }

  .control-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
