<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Progress</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="toggleReorder()">
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/','home','progress','create']">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && progressList && progressList.length > 0">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-reorder-group
          [disabled]="!reorder"
          (ionItemReorder)="reorderProgressList($event)"
        >
          <ion-item-sliding *ngFor="let progress of progressList">
            <ion-item-options side="start">
              <ion-item-option color="primary" (click)="editProgress(progress)">
                <ion-icon
                  name="pencil-outline"
                  slot="icon-only"
                  size="small"
                ></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="4" class="title-wrapper">
                    <h5>
                      {{progress.sets}} x {{progress.reps}} {{progress.repType}}
                    </h5>
                  </ion-col>
                  <ion-col
                    *ngIf="progress.currentExercise"
                    size="8"
                    class="title-wrapper"
                  >
                    <h5 class="ion-no-margin" style="font-weight: bold;">
                      {{progress.currentExercise.name}}
                    </h5>
                    <p class="ion-no-margin">{{progress.name}}</p>
                  </ion-col>
                  <ion-col
                    *ngIf="!progress.currentExercise"
                    size="8"
                    class="title-wrapper"
                  >
                    <h5 style="font-weight: bold;">
                      {{progress.name}}
                    </h5>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-reorder slot="end">
                <ion-icon name="repeat"></ion-icon>
              </ion-reorder>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option
                color="danger"
                (click)="deleteProgress(progress)"
              >
                <ion-icon name="trash" slot="icon-only" size="small"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-reorder-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
