<ion-header>
  <ion-toolbar>
    <ion-title>{{ totalTimeString }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="finishTraining()">Finish</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <div class="training-page-body">
    <ion-slides [options]="slideOptions" (ionSlideWillChange)="onSlideChange($event)"
      (ionSlidesDidLoad)="onSlideLoad($event)">
      <ion-slide *ngFor="let exercise of exerciseClocks; index as i;">
        <div class="exercise" [class.next]="i > currentIndex" [class.prev]="i < currentIndex">
          <ion-card class="exercise-card" mode="ios">
            <img class="cover-image" [src]="exercise.imageUrl">
            <ion-card-header>
              <ion-card-subtitle>{{ exercise.load }}</ion-card-subtitle>
              <ion-card-title>{{ exercise.name }}</ion-card-title>
              <div *ngIf="exercise.rep.type === 'setRep'">
                <ion-text>{{ exercise.rep.opts.set }} sets</ion-text>
              </div>
              <div *ngIf="exercise.rep.type === 'setTime'">
                <ion-text>{{ exercise.rep.opts.set }} sets</ion-text>
              </div>
              <div *ngIf="exercise.rep.type === 'time'">
                <ion-text>{{ exercise.rep.opts.time }} {{ exercise.rep.opts.unit }}
                </ion-text>
              </div>
            </ion-card-header>
            <div class="content">
              <div class="set-list-container" *ngIf="exercise.rep.type === 'setRep'">
                <!-- Exercise -->
                <ion-list class="set-list" *ngIf="exercise.clock.disabled">
                  <ion-item class="ion-no-padding" [class.active]="i === exercise.rep.opts.currentSet"
                    [class.disabled]="i > exercise.rep.opts.currentSet"
                    *ngFor="let set of exercise.rep.opts.sets; index as i">
                    <ion-label style="padding-left: 1rem;">30 kg</ion-label>
                    <ion-label>10 reps</ion-label>
                    <button style="background-color: transparent;" (click)="onSetClick($event, exercise, i)">
                      <ion-checkbox slot="end" [checked]="exercise.rep.opts.sets[i].checked"></ion-checkbox>
                    </button>
                  </ion-item>
                </ion-list>
                <!-- Rest -->
                <div class="rest-clock-container" *ngIf="!exercise.clock.disabled">
                  <div class="clock-control-buttons">
                    <ion-button fill="clear" (click)="onRestReset($event, exercise, i)">{{ getRestText(exercise)}}</ion-button>
                    <ion-button fill="clear" (click)="onRestSkip($event, exercise, i)">Skip</ion-button>
                  </div>
                  <div class="clock-wrapper">
                    <app-clock-circle [max]="exercise.clock.max" [current]="exercise.clock.current"
                      [mode]="exercise.clock.mode" [pause]="exercise.clock.pause" [reset]="exercise.clock.reset"
                      (onFinish)="onRestFinish($event, exercise, i)">
                    </app-clock-circle>
                  </div>
                </div>
              </div>
              <div style="width: 100%; height: 100%;"
                *ngIf="exercise.rep.type === 'setTime' || exercise.rep.type === 'time'">
                <div style="height: 20%;display: flex;justify-content: center;align-items: center;">
                  <ion-button fill="clear" style="height: 100%; text-transform: uppercase;">Reset</ion-button>
                  <!-- <ion-button fill="clear" style="height: 100%; text-transform: uppercase;">Skip</ion-button> -->
                </div>
                <div style="width: 80%; height: 80%; margin: 0 auto;">
                  <app-clock-circle [max]="exercise.clock.max" [current]="exercise.clock.current"
                    [mode]="exercise.clock.mode" [pause]="exercise.clock.pause" [reset]="exercise.clock.reset">
                  </app-clock-circle>
                </div>
              </div>
            </div>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-clickable>
      <ion-button class="footer-button no-ripple" expand="block" (click)="onFooterButtonClick()">
        <span>{{!trainingStarted ? 'Start' : (trainingPaused ? 'Resume' : 'Pause')}}</span>
      </ion-button>
    </app-clickable>
  </ion-toolbar>
</ion-footer>