<ion-header>
  <ion-toolbar>
    <ion-title>{{ totalTimeString }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="finishTraining()">Finish</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="training-page-body">
    <ion-slides [options]="slideOptions" (ionSlideWillChange)="onSlideChange($event)"
      (ionSlidesDidLoad)="onSlideLoad($event)">
      <ion-slide *ngFor="let exercise of exerciseClocks; index as i;">
        <div class="exercise" [class.next]="i > currentIndex" [class.prev]="i < currentIndex">
          <ion-card class="exercise-card" mode="ios">
            <img class="cover-image" [src]="exercise.imageUrl">
            <ion-card-header>
              <ion-card-subtitle>{{ exercise.load }}</ion-card-subtitle>
              <ion-card-title>{{ exercise.name }}</ion-card-title>
              <div *ngIf="exercise.rep.type === 'setRep'">
                <ion-text>{{ exercise.rep.opts.rep }} reps</ion-text>
              </div>
              <div *ngIf="exercise.rep.type === 'setTime'">
                <ion-text>{{ exercise.rep.opts.repTime }}</ion-text>
              </div>
            </ion-card-header>
            <ion-card-content>
              <div *ngIf="exercise.rep.type === 'setRep' || exercise.rep.type === 'setTime'">
                <ion-text class="ion-text-center">{{ exercise.rep.opts.currentSet }} / {{ exercise.rep.opts.set }}
                </ion-text>
              </div>
              <div *ngIf="exercise.rep.type === 'time'">
                <ion-text class="ion-text-center">{{ exercise.rep.opts.time }} {{ exercise.rep.opts.unit }}
                </ion-text>
              </div>
            </ion-card-content>
          </ion-card>
          <div class="exercise-clock">
            <app-clock-circle [max]="exercise.clock.max" [current]="exercise.clock.current" [mode]="exercise.clock.mode"
              [pause]="exercise.clock.pause" [reset]="exercise.clock.reset">
            </app-clock-circle>
          </div>
          <div class="exercise-next">
            <ion-text *ngIf="exercise.next">NEXT: {{ exercise.next }}</ion-text>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-clickable>
      <ion-button class="footer-button no-ripple" expand="block" (click)="onFooterButtonClick()">
        <span>{{!trainingStarted ? 'Start' : (trainingPaused ? 'Resume' : 'Pause')}}</span>
      </ion-button>
    </app-clickable>
  </ion-toolbar>
</ion-footer>