<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onEditClick()" fill="clear" color="primary"> Edit</ion-button>
    </ion-buttons>
    <ion-title>{{ totalTimeString }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="finishTraining()" fill="clear" color="primary">Finish</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <app-page-layout [fullScreen]="true">
    <div class="training-page-body">
      <ion-slides [options]="slideOptions" (ionSlideWillChange)="onSlideChange($event)"
        (ionSlidesDidLoad)="onSlideLoad($event)">
        <ion-slide *ngFor="let ec of exerciseClocks; index as i;">
          <div class="exercise" [class.next]="i > currentIndex" [class.prev]="i < currentIndex">
            <div class="card exercise-card">
              <img class="cover-image" [src]="ec.exercise.imageUrl">
              <ion-card-header>
                <ion-card-subtitle>
                  <ion-icon name="barbell-outline"></ion-icon>
                  {{ ec.exercise.equipment }}
                </ion-card-subtitle>
                <ion-card-title>
                  {{ ec.exercise.name }}
                </ion-card-title>
                <div *ngIf="ec.type === 'weightRep'">
                  <ion-text>{{ ec.exercise.set.sets.length }} sets</ion-text>
                </div>
                <div *ngIf="ec.type === 'weightTime' || ec.type === 'distanceTime'">
                  <ion-text>{{ ec.exercise.set.sets.length }} sets</ion-text>
                </div>
              </ion-card-header>
            </div>
            <div class="content">
              <ion-chip [color]="getChipColorUI(ec)" class="no-ripple">
                <div class="chip-container" *ngIf="!ec.clock.rest">
                  <ion-icon name="barbell-outline"></ion-icon>
                  <ion-text>
                    Set: {{ getCurrentSetUI(ec) }}
                  </ion-text>
                </div>
                <div class="chip-container" *ngIf="ec.clock.rest">
                  <ion-icon name="alarm-outline"></ion-icon>
                  <ion-text> Rest </ion-text>
                </div>
              </ion-chip>
              <div class="set-list-container" *ngIf="ec.type === 'weightRep'">
                <!-- Set-Rep Exercise -->
                <ion-content>
                  <ion-list class="set-list" [class.hidden]="ec.clock.rest">
                    <ion-card mode="ios" *ngFor="let set of ec.exercise.set.sets; index as i" style="margin: 8px;">
                      <ion-item class="ion-no-padding" [class.active]="i === ec.currentSet"
                        [class.disabled]="i > ec.currentSet" lines="none">
                        <ion-label style="padding-left: 1rem;">{{ getWeightUI(ec, i) }}</ion-label>
                        <ion-label>{{ set.rep }} reps</ion-label>
                        <button style="background-color: transparent;" (click)="onSetClick($event, ec, i)">
                          <ion-checkbox slot="end" [checked]="ec.exercise.set.sets[i].checked"></ion-checkbox>
                        </button>
                      </ion-item>
                    </ion-card>
                  </ion-list>
                  <!-- Set-Rep Rest -->
                  <div class="clock-control-container" [class.hidden]="!ec.clock.rest">
                    <div class="clock-wrapper">
                      <app-clock-circle [id]="ec.clock.id" [max]="ec.clock.max" [current]="ec.clock.current"
                        [mode]="ec.clock.mode" (onFinish)="onClockFinish($event, ec)">
                      </app-clock-circle>
                    </div>
                    <div class="clock-control-buttons">
                      <ion-chip [color]="getChipColorUI(ec)">
                        <div class="chip-container" (click)="onRestReset(ec)">
                          <ion-icon name="refresh-circle"></ion-icon>
                          <ion-text> Reset </ion-text>
                        </div>
                      </ion-chip>
                      <ion-chip [color]="getChipColorUI(ec)">
                        <div class="chip-container" (click)="onRestSkip(ec)">
                          <ion-icon name="play-forward-circle"></ion-icon>
                          <ion-text> Skip </ion-text>
                        </div>
                      </ion-chip>
                    </div>
                  </div>
                </ion-content>
              </div>
              <!-- Set-Time Clock -->
              <div class="clock-control-container" *ngIf="ec.type === 'weightTime' || ec.type === 'distanceTime'">
                <div class="clock-wrapper">
                  <app-clock-circle [id]="ec.clock.id" [max]="ec.clock.max" [current]="ec.clock.current"
                    [mode]="ec.clock.mode" (onFinish)="onClockFinish($event, ec)">
                  </app-clock-circle>
                </div>
                <div class="clock-control-buttons">
                  <ion-chip [color]="getChipColorUI(ec)">
                    <div class="chip-container" (click)="onPreviousSet(ec)">
                      <ion-icon name="arrow-back-circle"></ion-icon>
                      <ion-text> Back </ion-text>
                    </div>
                  </ion-chip>
                  <ion-chip [color]="getChipColorUI(ec)">
                    <div class="chip-container" (click)="onRestReset(ec)">
                      <ion-icon name="refresh-circle"></ion-icon>
                      <ion-text> Reset </ion-text>
                    </div>
                  </ion-chip>
                  <ion-chip [color]="getChipColorUI(ec)">
                    <div class="chip-container" (click)="onNextClick(ec)">
                      <ion-icon name="arrow-forward-circle"></ion-icon>
                      <ion-text> {{ getNextTextUI(ec) }} </ion-text>
                    </div>
                  </ion-chip>
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </app-page-layout>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="footer-button" expand="block" (click)="onFooterButtonClick()">
      <ion-text slot="end">{{!trainingStarted ? 'Start' : (trainingPaused ? 'Resume' : 'Pause')}}</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>