<h2 class="list-header">
  <ion-skeleton-text style="width: 40%;"></ion-skeleton-text>
</h2>
<ion-list lines="none">
  <ion-item *ngFor="let exercise of exercises">
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h2 class="exercise-header">
        <ion-skeleton-text></ion-skeleton-text>
      </h2>
      <ion-skeleton-text class="exercise-detail"></ion-skeleton-text>
      <ion-skeleton-text class="exercise-detail"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</ion-list>