.create-edit-workout {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
  }

  .img-wrapper {
    height: 300px;
  }

  .name-input {
    padding-top: 0;
  }

  .exercises-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .control-buttons {
      display: flex;
    }
  }

  .exercises-list {
    padding: 16px 0;
  }

  .exercise {
    margin-bottom: 16px;

    ion-avatar {
      width: 56px;
      height: 56px;

      img {
        border-radius: 8px;
      }
    }

    &-details {
      display: flex;
      text-align: start;
      justify-content: space-between;
      padding-bottom: 8px;

      p {
        flex: 1;
        color: var(--ion-color-step-600, #666666);
      }

      .rep-item {
        flex: 1;
      }

      .uniform-rep {
        width: 100%;

        p {
          width: 100%;
        }
      }

      .rep-item p,
      .uniform-rep p {
        padding: 8px 0;
        margin: 0;
        border-bottom: 1px solid var(--border-color, rgba(0, 0, 0, 0.13));
      }
    }
  }
}
