.create-edit-workout {
  h1,
  h2,
  h3,
  h4,
  h5 {
    width: 100%;
    font-weight: bold;
  }

  .exercises-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 8px;

    .control-buttons {
      display: flex;
    }
  }

  .exercises-list {
    padding: 16px 0;
  }
}
