<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/my-library"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ getTitle() }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDeleteClick()" *ngIf="mode === 'edit'">
        <ion-icon [name]="'trash-outline'"></ion-icon>
      </ion-button>
      <ion-button (click)="onSaveClick()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <div class="create-edit-workout" *ngIf="workout">
      <div class="img-wrapper filter red-turquoise">
        <img class="cover" [src]="'/assets/img/workout/mix-workout.jpg'" [alt]="">
      </div>
      <form [formGroup]="formGroup">
        <h1 class="ion-padding-horizontal" style="font-weight: bold;">
          <ion-input formControlName="name" class="ion-no-padding" type="text" placeholder="Name"></ion-input>
        </h1>
        <ion-list lines="none">
          <ion-item>
            <ion-icon name="time-outline" slot="start"></ion-icon>
            <ion-input formControlName="duration" type="text" placeholder="Estimated Duration"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="trophy-outline" slot="start"></ion-icon>
            <ion-input formControlName="category" type="text" placeholder="Category"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="barbell-outline" slot="start"></ion-icon>
            <ion-input formControlName="equipments" type="text" placeholder="Equipments"></ion-input>
          </ion-item>
        </ion-list>
      </form>
      <div class="exercises-header">
        <h2 class="ion-padding-horizontal">Exercises</h2>
        <div class="control-buttons">
          <ion-chip color="primary" (click)="onAddExerciseClick()">
            <ion-icon name="add"></ion-icon>
            <ion-label>Add Exercise</ion-label>
          </ion-chip>
        </div>
      </div>
      <ion-list class="exercises-list" *ngIf="workout.exercises && workout.exercises.length > 0">
        <app-exercise-list-item *ngFor="let exercise of workout.exercises" [exercise]="exercise" [editable]="true"
          (onEditClick)="onEditExerciseClick($event)">
        </app-exercise-list-item>
      </ion-list>
    </div>
  </app-page-layout>
</ion-content>