.create-edit-workout {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
  }

  .img-wrapper {
    height: 240px;
  }

  .name-input {
    padding-top: 0;
  }

  .exercises-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .control-buttons {
      display: flex;
    }
  }

  .exercises-list {
    padding: 16px 0;
  }
}
