<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>Workouts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-page-layout>
    <section>
      <h3 class="ion-text-center">
        Highlights
      </h3>
      <div *ngIf="loading" style="margin: 12px;">
        <app-highlight-card [skeleton]="true"></app-highlight-card>
      </div>
      <div *ngIf="!loading">
        <app-highlight-workout-slide [workouts]="highlights" (onClick)="onWorkoutClick($event)"></app-highlight-workout-slide>
      </div>
    </section>
    <section *ngFor="let category of workoutCategories">
      <h3 class="ion-text-center">
        {{ category.category }}
      </h3>
      <app-workout-slide [workouts]="category.workouts" (onClick)="onWorkoutClick($event)"></app-workout-slide>
    </section>
  </app-page-layout>
</ion-content>
