<ion-header>
  <ion-toolbar>
    <ion-title>Add Exercise</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-padding">
    <form (ngSubmit)="onConfirm()" #addExerciseForm="ngForm">
      <ion-item>
        <ion-label position="floating">Exercise Name</ion-label>
        <ion-input type="text" ngModel name="exercise-name" required> </ion-input>
      </ion-item>
      <p
        class="form-error"
        *ngIf="addExerciseForm.invalid && addExerciseForm.touched"
      >
        Name must be between 1 and 25 characters long.
      </p>
      <ion-button
        color="primary"
        expand="block"
        fill="clear"
        type="submit"
        [disabled]="addExerciseForm.invalid"
        >Confirm</ion-button
      >
    </form>
  </div>
</ion-content>
