<ion-item class="exercise" lines="none">
  <ion-avatar slot="start">
    <img [src]="exercise.imageUrl" [alt]="">
  </ion-avatar>
  <ion-label class="ion-no-margin">
    <h2>{{ exercise.name }}</h2>
    <div class="exercise-details">
      <div class="rep-item" *ngFor="let set of sets">
        <p>{{set.rep}}</p>
        <p>{{getLoadString(set.load)}}</p>
      </div>
      <div class="rep-item">
        <p>{{setDetail.repUnit}}</p>
        <p>{{setDetail.loadUnit}}</p>
      </div>
    </div>
  </ion-label>
  <ion-chip *ngIf="editable" class="icon-button edit-button" slot="end" color="primary" (click)="onEditExerciseClick()">
    <ion-icon name="pencil"></ion-icon>
  </ion-chip>
</ion-item>