.workout-card {
  margin: 0;

  .img-wrapper {
    height: 160px;
  }

  ion-card-header {
    text-align: start;
    padding: 0.8rem 1rem;
    height: 8rem;

    ion-card-title {
      line-height: 1.2rem;
    }
  
    ion-card-subtitle {
      line-height: 1rem;
      text-transform: uppercase;
    }
  
    ion-text {
      line-height: 1rem;
    }
  }
}
