.workout-card {
  margin: 0;

  .img-wrapper {
    height: 200px;
    border-radius: 6px;
    overflow: hidden;
  }

  ion-card-header {
    text-align: start;
    padding: 8px;
    height: 6rem;

    ion-card-title {
      line-height: 1.2rem;
    }
  
    ion-card-subtitle {
      line-height: 1rem;
      text-transform: uppercase;
    }
  
    ion-text {
      font-size: 14px;
      line-height: 1rem;
      color: var(--ion-color-step-800, #eeeeee)
    }
  }
}
