<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/progress"></ion-back-button>
    </ion-buttons>
    <ion-title>Progress Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="!form || form?.invalid"
        (click)="updateProgress()"
      >
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2" class="ion-no-padding">
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
        <div *ngIf="!isLoading && !progress" class="ion-text-center">
          <p>Progress not found.</p>
        </div>
        <div *ngIf="!isLoading && progress" class="progress-detail">
          <form [formGroup]="form">
            <div class="progress-name">
              <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
              </ion-item>
              <p
                class="form-error"
                *ngIf="!form.get('name').valid && form.get('name').touched"
              >
                Name must be between 1 and 25 characters long.
              </p>
            </div>
            <div class="repetition">
              <ion-item class="set">
                <ion-label position="floating">Sets</ion-label>
                <ion-input type="number" formControlName="sets"></ion-input>
              </ion-item>
              <div class="rep">
                <div class="rep-input">
                  <ion-item>
                    <ion-label position="floating"
                      >{{repType === 'reps' ? 'Reps' : 'Seconds'}}</ion-label
                    >
                    <ion-input type="number" formControlName="reps"></ion-input>
                  </ion-item>
                </div>
                <div class="rep-type">
                  <ion-button
                    class="ion-no-margin"
                    fill="clear"
                    slot="end"
                    (click)="changeRepType()"
                  >
                    <ion-icon
                      name="swap-vertical-outline"
                      slot="icon-only"
                    ></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
            <div class="exercise">
              <div class="exercise-top">
                <div class="exercise-top-add">
                  <ion-button
                  color="primary"
                  expand="block"
                  fill="clear"
                  (click)="addExercise()"
                  >ADD EXERCISE</ion-button
                >
                </div>
                <div class="exercise-top-reorder">
                  <ion-button
                  color="primary"
                  expand="block"
                  fill="clear"
                  (click)="reorder = !reorder"
                >
                  <ion-icon name="list-outline" slot="icon-only"></ion-icon>
                </ion-button>
                </div>
              </div>
              <div class="exercise-list">
                <ion-reorder-group
                [disabled]="!reorder"
                (ionItemReorder)="reorderExercises($event)"
              >
                <ion-item-sliding *ngFor="let exercise of exercises">
                  <ion-item>
                    <ion-icon
                      *ngIf="exercise.selected"
                      name="star-outline"
                      slot="start"
                      size="small"
                    ></ion-icon>
                    <ion-label (click)="onExerciseClick(exercise)"
                      >{{exercise.name}}</ion-label
                    >
                    <ion-reorder slot="end">
                      <ion-icon name="repeat"></ion-icon>
                    </ion-reorder>
                  </ion-item>
                  <ion-item-options side="end">
                    <ion-item-option
                      color="danger"
                      (click)="removeExercise(exercise)"
                    >
                      <ion-icon
                        name="trash"
                        slot="icon-only"
                        size="small"
                      ></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-reorder-group>
              </div>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
