<ion-header>
  <ion-toolbar>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-page-layout>
    <section>
      <div style="margin: 12px;">
        <app-highlight-card
          [imageUrl]="'assets/img/workouts.jpg'"
          [title]="'Workouts'"
          [filter]="'dark'"
          [textList]="['See all workouts']"
          (click)="onWorkoutsClick()">
        </app-highlight-card>
      </div>
    </section>
    <section>
      <div style="margin: 12px;">
        <app-highlight-card
          [imageUrl]="'assets/img/exercises.jpg'"
          [title]="'Exercises'"
          [filter]="'dark'"
          [textList]="['See all exercises']"
          (click)="onExercisesClick()">
        </app-highlight-card>
      </div>
    </section>
  </app-page-layout>
</ion-content>