<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Explore</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [disabled]="true"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-page-layout>
    <section>
      <div style="margin: 12px;">
        <app-highlight-card
          [imageUrl]="'https://images.pexels.com/photos/1431282/pexels-photo-1431282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'"
          [title]="'Workouts'"
          [filter]="'red-turquoise'"
          [textList]="['See all workouts']"
          (click)="onWorkoutsClick()">
        </app-highlight-card>
      </div>
    </section>
    <section>
      <div style="margin: 12px;">
        <app-highlight-card
          [imageUrl]="'https://images.pexels.com/photos/841131/pexels-photo-841131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'"
          [title]="'Exercises'"
          [filter]="'red-turquoise'"
          [textList]="['See all exercises']"
          (click)="onExercisesClick()">
        </app-highlight-card>
      </div>
    </section>
  </app-page-layout>
</ion-content>