<ion-header>
  <ion-toolbar>
    <ion-title>My Library</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home/my-library/create-workout">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <section>
      <div style="margin: 12px;" *ngIf="lastTraining">
        <h3 class="ion-text-center">Last Workout</h3>
        <app-highlight-card [imageUrl]="lastTraining.workout.imageUrl" [title]="lastTraining.workout.name"
          [subtitle]="lastTraining.workout.category" [textList]="[lastWorkout.getDurationString()]"
          filter="purple-blue" (click)="onWorkoutClick(lastTraining.workout)">
        </app-highlight-card>
      </div>
    </section>
    <section>
      <h3 class="ion-text-center">Favorites</h3>
      <div *ngIf="favorites && favorites.length > 0">
        <app-workout-slide [workouts]="favorites" (onClick)="onWorkoutClick($event)"></app-workout-slide>
      </div>
      <div *ngIf="!(favorites && favorites.length > 0)" class="ion-text-center ion-padding-horizontal">
        <p>Your favorite workouts will be here. Explore some workouts and add them into your favorites.</p>
        <ion-button routerLink="/home/explore">Explore</ion-button>
      </div>
    </section>
  </app-page-layout>
</ion-content>