<ion-header>
  <ion-toolbar>
    <ion-title>My Library</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <section>
      <h3 class="ion-text-center">
        My Workouts
      </h3>
      <app-workout-slide [workouts]="myWorkouts"></app-workout-slide>
    </section>
    <section>
      <h3 class="ion-text-center" style="margin-top: 0;">Favorites</h3>
      <app-workout-slide [workouts]="myWorkouts"></app-workout-slide>
    </section>
  </app-page-layout>
</ion-content>