<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="my-library">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>My Library</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="training-history">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Training History</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
