<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="progress">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="training">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Training</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="my-library">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>My Library</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
