.exercise {
  margin-bottom: 16px;
}

ion-avatar {
  width: 56px;
  height: 64px;
  margin-top: auto;
  margin-bottom: 8px;
}

.exercise-details {
  display: flex;
  text-align: start;
  justify-content: space-between;
  padding-bottom: 8px;

  p {
    flex: 1;
    color: var(--ion-color-step-600, #666666);
  }

  .rep-item {
    flex: 1;
  }

  .uniform-rep {
    width: 100%;

    p {
      width: 100%;
    }
  }

  .rep-item p,
  .uniform-rep p {
    padding: 8px 0;
    margin: 0;
    border-bottom: 1px solid var(--ion-color-step-300, rgba(0, 0, 0, 0.13));
  }
}

.button-group {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 4px 8px;

  ion-reorder {
    width: 40px;
    height: 100%;
    margin: 0;
    text-align: center;
    ion-icon {
      height: 100%;
    }
  }

  ion-chip {
    width: 40px;
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 4px 0;
  }
}

ion-item {
  --ion-safe-area-right: 0;
}
