<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Exercise</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSaveClick()" color="primary">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <div class="card exercise-card" *ngIf="exercise">
      <div class="img-small">
        <img class="cover" [src]="exercise.imageUrl">
      </div>
      <ion-card-header>
        <ion-card-subtitle>
          {{ exercise.category }}
        </ion-card-subtitle>
        <ion-card-title>
          {{ exercise.name }}
        </ion-card-title>
      </ion-card-header>
    </div>

    <div class="set-list">
      <div *ngFor="let set of sets; index as i;">
        <div class="set-item">
          <div class="card set-card">
            <div class="set" lines="none">
              <div class="block">
                <ion-input [(ngModel)]="set.load" (ionBlur)="onBlur($event, 'load')" class="ion-no-padding" type="text"
                  inputmode="numeric" placeholder="--" select-all></ion-input>
                <span class="label">{{ setDetail.loadUnit }}</span>
              </div>
              <div class="block">
                <ion-input [(ngModel)]="set.rep" (ionBlur)="onBlur($event, 'rep')" class="ion-no-padding" type="text"
                  inputmode="numeric" placeholder="--" select-all></ion-input>
                <span class="label">{{ setDetail.repUnit }}</span>
              </div>
            </div>
          </div>
          <div class="action-button" (click)="onDeleteClick(i)">
            <ion-chip class="icon-button card" color="primary">
              <ion-icon name="trash"></ion-icon>
            </ion-chip>
          </div>
        </div>
      </div>
      <div class="set-item button-only">
        <div class="action-button" (click)="onAddClick()">
          <ion-chip class="icon-button card" color="primary">
            <ion-icon name="add"></ion-icon>
          </ion-chip>
        </div>
      </div>
    </div>
  </app-page-layout>
</ion-content>