.exercise-card {
  margin: 12px;

  ion-card-header {
    text-align: start;
    padding: 0.8rem 1rem;
  }
}

.set-list {
  .set-item {
    display: flex;
    margin: 12px;
    align-items: center;

    &.button-only {
      justify-content: flex-end;
    }

    .set-card {
      flex: 1;
      padding: 12px 0;
      margin: 0;
      background: var(--ion-color-step-100);

      .set {
        display: flex;
        align-items: center;

        .block {
          flex: 1;
          display: flex;
          align-items: flex-end;
          text-align: end;

          height: 100%;
          padding-right: 16px;

          &:not(:last-child) {
            border-right: 1px solid var(--ion-color-step-600, #666666);
          }

          ion-input {
            font-size: 2rem;
            line-height: 2rem;
            margin: 0 4px;

            @media (max-width: 480px) {
              font-size: 1.8rem;
              line-height: 1.8rem;
            }

            @media (max-width: 320px) {
              font-size: 1rem;
            }
          }

          .label {
            font-size: 1rem;
            line-height: 2rem;
            margin-left: 4px;

            @media (max-width: 480px) {
              font-size: 0.8rem;
              line-height: 1.3rem;
            }

            @media (max-width: 320px) {
              font-size: 0.7rem;
              line-height: 1.2rem;
            }
          }
        }
      }
    }

    .action-button {
      width: 64px;
      height: 64px;
      margin-left: 16px;

      ion-chip {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
      }
    }
  }
}
