<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Workout</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!this.workoutStarted" (click)="onCircleClick()">
        <ion-icon name="play-circle-outline" slot="icon-only"> </ion-icon>
      </ion-button>
      <ion-button *ngIf="this.workoutStarted" (click)="onStopButtonClick()">
        <ion-icon name="stop-circle-outline" slot="icon-only"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <div class="exercise-slide">
      <div class="arrow">
        <ion-button fill="clear" (click)="slideAction('back')">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
      <div class="exercise ion-text-center">
        <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
        <ion-slides
          #progressSlider
          *ngIf="!isLoading && progressList && progressList.length > 0"
        >
          <ion-slide
            *ngFor="let progress of progressList"
            class="exercise__content"
          >
            <p class="ion-no-margin">{{progress.sets}}x{{progress.reps}}</p>
            <p *ngIf="progress.currentExercise" class="ion-no-margin">
              {{ progress.currentExercise.name }}
            </p>
            <p *ngIf="!progress.currentExercise" class="ion-no-margin">
              {{ progress.name }}
            </p>
          </ion-slide>
        </ion-slides>
        <ion-button
          fill="clear"
          *ngIf="!isLoading && !(progressList && progressList.length > 0)"
          [routerLink]="['/','home','progress']"
        >
          <ion-text>ADD PROGRESS</ion-text>
        </ion-button>
      </div>
      <div class="arrow">
        <ion-button fill="clear" (click)="slideAction('forward')">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </div>
    <form #workoutForm="ngForm">
      <ion-item>
        <ion-label>Rest Time </ion-label>
        <ion-datetime
          display-format="HH:mm:ss"
          picker-format="HH:mm:ss"
          [value]="restTimeString"
          name="rest-time"
          (ionChange)="onRestTimeChange($event)"
        ></ion-datetime>
      </ion-item>
    </form>
    <div class="time">
      <div class="total-time">
        <span class="total-time__header">Total Time</span>
        <span class="total-time__count">{{ totalTimeString }}</span>
      </div>
      <div class="rest-circle">
        <circle-progress
          [percent]="restPercent"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="1"
          [outerStrokeColor]="'var(--ion-color-primary, black)'"
          [innerStrokeColor]="'var(--ion-color-primary, black)'"
          [animation]="false"
          [showSubtitle]="!workoutStarted"
          [title]="restString"
          [subtitle]="'START'"
          [subtitleFontSize]="'24'"
          [subtitleColor]="isDarkMode ? '#fff' : '#000'"
          [titleColor]="restStringColor"
          [animateTitle]="true"
          [showUnits]="false"
          (onClick)="onCircleClick()"
        ></circle-progress>
      </div>
    </div>
  </app-page-layout>
</ion-content>
