:host {
  width: 100%;
}

.highlight-card {
  display: block;
  position: relative;

  &.light {
    color: black;
  }

  &.dark {
    color: white;
  }
}

.content {
  margin: 16px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.subtitle {
  font-size: 1rem;
  text-transform: uppercase;
}

.title {
  font-size: 2rem;
}

.text {
  font-size: 1rem;
}

.action-button {
  margin: 8px;
}
