.highlight-card {
    display: block;
    position: relative;
    margin: 0;
    color: white;
    text-align: start;
    overflow: hidden;

    .img-wrapper {
        height: 240px;
        border-radius: 4px;
        overflow: hidden;
    }

    .bottom-left {
        position: absolute;
        bottom: 16px;
        left: 16px;

        display: flex;
        flex-direction: column;

        &.light {
            color: black;
        }

        &.dark {
            color: white;
        }
    }

    .top-right {
        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        flex-direction: column;
    }

    .subtitle {
        font-size: 1rem;
        text-transform: uppercase;
    }

    .title {
        font-size: 2rem;
    }

    .text {
        font-size: 1rem;
    }

    .action-button {
        ion-icon {
            width: 16px;
            height: 16px;
        }
    }
}