<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/progress"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Workout History</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [disabled]="true"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && !(workoutList && workoutList.length > 0)">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <p>There are no workouts to show.</p>
        <ion-button [routerLink]="['/','home','workout']" fill="clear"
          >Do your first workout now!</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && workoutList && workoutList.length > 0">
    <ion-row class="ion-padding">
      <ion-col size="6" size-sm="3" offset-sm="3">
        <h3 class="ion-no-margin">Date</h3>
      </ion-col>
      <ion-col size="6" size-sm="3">
        <h3 class="ion-no-margin">Total Time</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <ion-list>
          <ion-item-sliding *ngFor="let workout of workoutList">
            <ion-item (click)="onWorkoutClick(workout)">
              <ion-grid class="ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col size="6">
                    <p>{{workout.date | date }}</p>
                  </ion-col>
                  <ion-col size="6">
                    <p>{{workout.totalTime}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="deleteWorkout(workout)">
                <ion-icon name="trash" slot="icon-only" size="small"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
