<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/workout"></ion-back-button>
    </ion-buttons>
    <ion-title>Workout History</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [disabled]="true"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2" class="ion-no-padding">
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
        <div
          *ngIf="!isLoading && !(workoutList && workoutList.length > 0)"
          class="ion-text-center"
        >
          <p>There are no workouts to show.</p>
          <ion-button [routerLink]="['/','home','workout']" fill="clear"
            >Do your first workout now!</ion-button
          >
        </div>
        <div class="workout-list" *ngIf="!isLoading && workoutList && workoutList.length > 0">
          <div class="workout-list-header">
            <h3>Date</h3>
            <h3>Total Time</h3>
          </div>
          <ion-list class="workout-list-content ion-no-padding">
            <ion-item-sliding *ngFor="let workout of workoutList" class="ion-no-padding">
              <ion-item (click)="onWorkoutClick(workout)" button detail class="ion-no-padding">
                <div class="item-content">
                  <p>{{workout.date | date }}</p>
                  <p>{{workout.totalTime}}</p>
                </div>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deleteWorkout(workout)">
                  <ion-icon name="trash" slot="icon-only" size="small"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
