/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Fonts */
@import './theme/font.scss';

/* App */
.md,
.ios {
  --ion-font-family: 'Maven Pro', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', 'Roboto', sans-serif;

  --card-border-radius: 5px;
}

// Ionic Customizations

ion-picker {
  touch-action: none;
}

ion-reorder.wide-reorder {
  width: 6rem;
  height: 100%;
  margin: 0;
  text-align: center;
  ion-icon {
    height: 100%;
  }
}

ion-list.list-md {
  background: var(--ion-background-color, #fff);

  ion-item {
    --background: var(--ion-background-color, #fff);
    --border-color: var(--ion-color-step-200, rgba(0, 0, 0, 0.13));
  }
}

ion-list.transparent {
  background: transparent;

  ion-item {
    --background: transparent;
  }
}

ion-button.ios {
  --border-radius: var(--card-border-radius, 5px);
}

ion-button.main {
  --background: linear-gradient(
    90deg,
    var(--ion-color-primary),
    var(--ion-color-tertiary)
  );
  text-transform: uppercase;
  color: white;
}

ion-chip {
  transition: 0.1s ease-in-out;

  &.icon-button {
    padding: 8px;

    ion-icon {
      margin: 0;
    }

    &.small {
      ion-icon {
        width: 16px;
        height: 16px;
      }
    }
  }

  &.opaque {
    background: rgba(var(--ion-color-base-rgb), 0.8);
    color: var(--ion-color-contrast, #fff);
  }
}

ion-avatar {
  --border-radius: var(--card-border-radius, 5px);
}

.no-ripple {
  --ripple-color: transparent;
  --background-activated: transparent;
  --background-activated-opacity: 1;
}

ion-slides.catalog {
  padding: 0 12px;
}

// Structural Classes

.hidden {
  display: none;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

section {
  margin-bottom: 16px;

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 16px;
  }

  &.container {
    margin: 12px;
  }
}

// Image filters

.filter {
  overflow: hidden;

  // This is used for training history
  &.purple-blue {
    background-color: #564058;
    background-image: linear-gradient(315deg, #564058 0%, #081f30 74%);

    img {
      mix-blend-mode: soft-light;
    }
  }

  // This is used for highlight cards
  &.yellow-blue {
    background-color: #735b00b0;
    background-image: linear-gradient(315deg, #92834ab0 0%, #19352fc7 74%);

    img {
      mix-blend-mode: soft-light;
    }
  }

  // This is used for workout cards
  &.red-turquoise {
    background-color: #ce150094;
    background-image: linear-gradient(320deg, #945644 0%, #0a5647d1 74%);

    img {
      mix-blend-mode: hard-light;
    }
  }

  &.dark {
    background-image: linear-gradient(186deg, #fff7e0b0 20%, #000a08 90%);

    img {
      mix-blend-mode: multiply;
    }

    color: white;
  }

  &.light {
    background-image: linear-gradient(185deg, #3d3735ad 20%, #ececec 70%);

    img {
      mix-blend-mode: soft-light;
    }

    color: black;
  }
}

// Custom Styles

.card {
  border-radius: var(--card-border-radius, 5px);
}

img.cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cover {
  height: 100%;
  width: 100%;
}

.img-small {
  height: 200px;
}

.img-medium {
  height: 240px;
}

.img-large {
  height: 280px;
}

.footer-button {
  margin-left: 24px;
  margin-right: 24px;

  ion-icon {
    color: white;
  }

  --background: linear-gradient(
    90deg,
    var(--ion-color-primary),
    var(--ion-color-tertiary)
  );

  ion-text {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
  }
}

.icon-group-col {
  display: flex;
  flex-direction: column;
  padding: 16px;

  & ion-icon:not(:first-child) {
    margin-top: 8px;
  }
}
