<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/workout/history"></ion-back-button>
    </ion-buttons>
    <ion-title>Workout Details</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [disabled]="true"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <div *ngIf="isLoading" class="ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <div *ngIf="!isLoading && workout" class="workout">
      <div class="workout-header ion-text-center">
        <div class="workout-header-group">
          <h1>Date:</h1>
          <h1>{{ workout.date | date }}</h1>
        </div>
        <div class="workout-header-group">
          <h2>Total Time:</h2>
          <h2>{{ workout.totalTime }}</h2>
        </div>
      </div>
      <div
        *ngIf="!(workout.exercises && workout.exercises.length > 0)"
        class="ion-text-center"
      >
        <p>No exercise recorded for this workout.</p>
      </div>
      <div
        *ngIf="workout.exercises && workout.exercises.length > 0"
        class="progress-list"
      >
        <ion-list class="ion-no-padding">
          <ion-item
            *ngFor="let exercise of workout.exercises"
            class="progress-item ion-no-padding"
          >
            <div class="progress-item-content">
              <div class="rep-set">
                <p class="ion-no-margin">{{ exercise.setRep }}</p>
                <p class="ion-no-margin">{{ exercise.repType }}</p>
              </div>
              <div class="exercise">
                <p class="ion-no-margin" style="font-weight: bold">
                  {{ exercise.name}}
                </p>
                <p class="ion-no-margin">{{exercise.progressName}}</p>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </app-page-layout>
</ion-content>
