<div class="catalog workout-slide">
  <div *ngFor="let workout of workouts">
    <div class="workout-card" [ngStyle]="{ 'width': cardWidth, '--card-padding': cardPadding }">
      <app-card-medium
        [title]="workout.name"
        [subtitle]="workout.category"
        [text]="workout.duration"
        [imageUrl]="workout.imageUrl"
        (click)="onWorkoutClick(workout)"
        [heart]="workout.state?.favorited"
        [sparkles]="workout.state?.customized"
        [star]="workout.state?.created"
      >
      </app-card-medium>
    </div>
  </div>
</div>
