<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-page-layout>
    <section *ngFor="let category of exerciseCategories">
      <h3 class="ion-text-center">
        {{ category.category }}
      </h3>
      <app-exercise-slide [category]="category.category" [exercises]="category.exercises" (onClick)="onExerciseClick($event)"></app-exercise-slide>
    </section>
  </app-page-layout>
</ion-content>
